<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title>Rumah Sehat</title>
  <!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
  <!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
</head>

<body>
<!--<nav th:replace="fragments/fragment :: navbar('Mahasiswa')"></nav>-->
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2 class="d-flex justify-content-center">Add Apoteker</h2>
        <br>
        <form th:action="@{/manajemen/apoteker/add}" th:object="${apoteker}" method="POST">

          Nama: <br>
          <input class="form-control" type="text" name="nama" th:field="*{nama}" placeholder="Nama"/>
          <br><br>

          Username: <br>
          <input class="form-control" type="text" name="username" th:field="*{username}" placeholder="Username"/>
          <br><br>

          Password: <br>
          <input class="form-control" type="text" name="password" th:field="*{password}" placeholder="Password"/>
          <br><br>

          Email: <br>
          <input class="form-control" type="text" name="email" th:field="*{email}" placeholder="Email"/>
          <br><br>


          <div class="d-flex justify-content-around">
            <a class="btn btn-outline-warning" th:href="@{/manajemen/apoteker}" style="width: 300px">Kembali</a>
            <button class="btn btn-warning" type="submit" name="save" style="width: 300px">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>