<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

  <meta charset="utf-8" />
  <title>Rumah Sehat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('User')"></nav>

<!--<div class="container">-->
<div class="card m-1 p-1">
  <div class="card-body">
    <div class="justify-content-center">
      <a th:href="@{/manajemen/}" style="font-family:Verdana; font-weight:bold; color: rgb(41, 160, 184);"><--</a>
      <div th:if="*{listDokter.size() != 0}">
        <h2 class="d-flex justify-content-center">List Dokter</h2>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <a th:href="@{/manajemen/dokter/add}" class="mx-2 btn text-light" style="padding-left:22px; padding-right:22px; font-family:Verdana; font-weight:bold; background-color: rgb(41, 160, 184);">+ Tambah Dokter</a>
      </div>
      <br>
      <div th:if="*{listDokter.size() != 0}">
        <div>
          <table id="table_result" class="display" style="width:100%">
            <thead>
            <tr>
              <th>Nama</th>
              <th>Username</th>
              <th>Email</th>
              <th>Tarif</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div th:unless="*{listDokter.size() != 0}">
        <h2 th:text="'Tidak ada Dokter'" class="d-flex justify-content-center"></h2>
      </div>
      <br>
    </div>
  </div>
</div>
<script>
  $(document).ready( function () {
    var table = $('#table_result').DataTable({
      "sAjaxSource": "/api/v1/manajemen/dokter",
      "sAjaxDataProp": "",
      "aoColumns": [
        { "mData": "nama"},
        { "mData": "username" },
        { "mData": "email" },
        { "mData": "tarif" },
      ]
    })
  });
</script>

</body>
</html>