<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>RumahSehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Obat')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Ubah Stok ' + ${obat.namaObat}"></h2>
                <br>
                <form th:action="@{/obat/update}" th:object="${obat}" method="POST">
 
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{namaObat}" />
                    <input type="hidden" th:field="*{harga}" />
 
                    <label>Stok:</label>
                    <input required class="form-control" type="number" name="stok" th:field="*{stok}"/>
                    
                    <br>
                    <div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                        <a class="btn btn-outline-primary" th:href="@{/obat/viewall}">Kembali</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>